/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.error_message
{
	background: #d9534f;
	color: white;
	border-radius: 0px 0px 4px 4px;
	font-size: 1em;
	font-weight: bold;
	padding: 0.5em;
	font-family: monospace;
}